!!! 5
html

  head
    - var profile = person.profile[0]

    title= profile.name + " " + profile.lastNames

    link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Arimo:400,700|Yanone+Kaffeesatz&amp;subset=latin&amp;v2")

    link(rel="stylesheet",type="text/css",href="/css/badge.css")

  - if(typeof(posicion) == 'undefined') 
    - var posicion = 1;

  body

    div(class='posicion'+posicion)

      -var qrUrl = "http://chart.apis.google.com/chart?cht=qr&chs=145x145&chld=M&chl=http://talento.sg.com.mx/" + person.slug

      img(src=qrUrl,style='float:left')

      div(class='nametag')

        h1= profile.name + " " + profile.lastNames

        h2= profile.title

.