
h2 Bienvenido a SG Talento

.clear

p Hola #{user.email}. Por favor selecciona la acción que deseas realizar.
ul
    - if(typeof(noPerfil) != 'undefined')
      li
        a(href="/createProfile") Crea tu perfil
    li
      a(href="/buscar") Buscar personas
    - if(typeof(showRequestLink) != 'undefined')
      li
        a(href="/recruiter/request") Solicitar activación como reclutador
    - if(typeof(isAdmin) != 'undefined')
      li
        a(href="/admin") Opciones para administrador
