<div class="content-innertube"><h2>Bienvenido a SG Talento</h2>

    <div class="clear"></div>
    <p>SG Talento es un servicio de currículum en línea diseñado especialmente para perfiles de Tecnologías de
        Información.</p>

    <div id="cuadro-profesionista"
         style="background: #F8E0F1; border-color: #808080; border-radius: 10px; width: 350px; margin: 15px; padding: 10px; float: left;">
        <h2>Soy profesionista</h2>

        <p style="text-align:justify">Crea o actualiza tu currículum y aprovecha los beneficios de estar en SG
            Talento.<br/><br/>
            Forma parte del escaparate que ofrece Software Guru, y aprovecha descuentos en capacitación en <br/>
            <a href="http://www.sgcampus.com.mx/web/guest/sg-talento" style="text-decoration:none; color:#FF8000"><strong>SG Campus</strong></a>,
            acceso a cursos gratuitos, y descuentos en eventos organizados por SG. </p>

        <p align="right"><a href="/login-profesionistas"><img
                src="http://sg.com.mx/mailings/sgtalento/images/botonproftalento-200.png" alt="" border="0"/></a></p>

    </div>

    <div id="cuadro-reclutador"
         style="background: #F8E0F1; border-color: #808080; border-radius: 10px; width: 350px; margin: 15px; padding: 10px; float: right;">
        <h2>Soy reclutador</h2>

        <ul>
            <li>
                <a href="/register">Regístrate</a>
            </li>
            <li>
                <a href="/login">Ingresa</a>
            </li>
        </ul>
        </p>
    </div>

</div>

<div class="clear"></div>

