
h2 Bienvenido a SG Talento

.clear

strong Para iniciar, autentícate con alguno de estos servicios.

#servicios-login
  a(href="/auth/linkedin")
    img(src="/img/linkedin-logo.png", style="margin:10px;")
  a(href="/auth/facebook")
    img(src="/img/facebook-logo.png", style="margin:10px;")
  a(href="/auth/twitter")
    img(src="/img/twitter-logo.png", style="margin:10px;")
  a(href="/auth/github")
    img(src="/img/github-logo.png", style="margin:10px;")

