h2 Registro de curriculums desactivado

.clear
p
  | SG Talento es un servicio proporcionado en conjunto con EmpleosTI. Registra tu CV <a href="http://empleosti.com.mx/candidatos.php">aquí</a>.
  | Gracias por tu paciencia.
