
h2 Registro de reclutadores

.clear

form#form-container(method="post")

  - if(typeof(errors) != 'undefined')
    = errors

  label(for='username') User ID
  input#username(type='text',name='login',class='validate[required]')
  .clear

  label(for='password') Password
  input#password(type='password',name='password',class='validate[required]')
  .clear

  label(for='name') Nombre
  input#name(type='text',name='name',class='validate[required]')
  .clear

  label(for='email') Email
  input#email(type='text',name='email',class='validate[required]')
  .clear

  #submit-btn
    input.submit(type="submit",value="Registrar")

  .clear
