
h2 Bienvenido a SG Talento

.clear

p 
  | Ya casi tienes un lugar en SG Talento,
  | solo te falta elegir tu username e indicar tu correo.

form#form-container(method="post")
  h3 Selecciona tu username

  p
    | Este username es el identificador a tu perfil público en SG Talento, que será http://talento.sg.com.mx/[username] 
  br/

  label(for='slug') Username:
  input#slug(type='text',name='user[slug]',value=person.slug,class='validate[required]')

  .clear

  h3 Indica tu email

  p
    | Lo necesitamos para contactarte

  br/

  label(for='email') Email:
  input#email(type='text',name='user[email]',value=person.email,class='validate[required,custom[email]]')

  #submit-btn
    input.submit(type="submit",value="Registrarse")

  .clear
