
h2 Operación restringida a reclutadores

.clear
p
  | La operación que intentaste solo está disponible para reclutadores con cuenta activa en SG Talento.
p
  | Si te interesa contratar una cuenta con acceso a búsqueda de CVs,&nbsp;
  a(href="/recruiter/request") solicitala aquí
  | .
